@import "tailwindcss";

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f6461a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d93d16;
}
